@model Calendar.Models.EventsViewModel
@{
    ViewData["Title"] = @ViewData["Date"] + " Events";
}

<div class="day">
    <h1 class="title">Events on @ViewData["Date"]</h1>
    @if (Model.GetAllEvents().Count != 0)
    {
        <ul class="day__events-box">
            <li class="day__event-box day__event-box--title">
                <div class="day__event-prop"><strong>Time:</strong></div>
                <div class="day__event-prop"><strong>Description:</strong></div>
                <div class="day__event-btns"></div>
            </li>
            @foreach (Event ev in Model.GetAllEvents())
            {
                <li class="day__event-box">
                    <div class="day__event-prop">@ev.Date.ToString("HH:mm")</div>
                    @if (ev.Description.Length > 18)
                    {<div class="day__event-prop">@ev.Description.Substring(0, 18)...</div> }
                else
                { <div class="day__event-prop">@ev.Description</div>}
                  <div class="day__event-btns" id="@ev.Id"><a href="/event/edit/@ev.Id" class="btn btn-primary myBtn">Edit</a><button class="btn btn-danger myBtn js--btn-del" >Delete</button></div>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="day__msg">There are no events on this day.</div>
    }

    <div class="day__btns">
        <a href="/event/index/@ViewData["Date"]" class="btn btn-success myBtn">Add New</a>
        <a href="/home/index/@ViewData["Date"]" class="btn btn-danger myBtn">Close</a>
    </div>
</div>

@section Scripts {
    <script>
        $('document').ready(function () {
            $('.js--btn-del').click(function (e) {

                $.ajax({
                    type: 'DELETE',
                    url: '/event/delete/' + e.target.parentNode.id,
                    success: function (data) {
                        if (data.status === 200) {
                            window.location.reload()
                        } else {
                            console.error(data.status);
                            window.location.reload()
                        }
                    },
                    error: function (error) {
                        alert('Sth went wrong, event was not deleted.')
                    }
                })
            })


        })
        
    </script>
}